.home {
  padding: 2rem;
  overflow: hidden;
}

.back {
  cursor: pointer;
  width: fit-content;
}

.form {
  overflow-y: scroll;
  height: 75vh;
}

.title {
  text-align: center;
}

.custom-select {
  margin: 0.5rem 0;
}

.view-shape {
  margin-top: 1rem;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

rect,
circle,
ellipse,
polygon,
polyline {
  stroke-dasharray: 2100;
  stroke-dashoffset: 2100;
  animation: animate 2s linear forwards;
  transition: all 2s;
}

@keyframes animate {
  0% {
    stroke-dashoffset: 0;
    opacity: 0;
    fill: transparent;
  }
  40% {
    stroke-dashoffset: 2100;
    opacity: 0.5;
  }
  80% {
    stroke-dashoffset: 4200;
  }
  100% {
    stroke-dashoffset: 4200;
    opacity: 1;
  }
}
