.home {
  padding: 2rem;
  overflow: hidden;
}

.back {
  cursor: pointer;
  width: fit-content;
}

.form {
  overflow-y: scroll;
  height: 75vh;
}

.title {
  text-align: center;
}

.custom-select {
  margin: 0.5rem 0;
}

.view-shape {
  margin-top: 1rem;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
